body{
    font-family: "Karla", sans-serif;
    padding:14px;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-family:"Karla", sans-serif;
}
  
.li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.container{
    width:100%;
    display:flex;
    flex-direction:column;  
    /* flex direction: column bikin atas bawah, kalau row kesamping */
    align-items:center;
    padding-top: 15px;
}

.leftContainer{
    align-items:flex-start;
}
h1{
    font-size:70px;
}
h2{
    font-size: 25px;
    margin:2px;
    font-style:italic;
    color:grey;
    font-weight:450;
}
h3{
    font-size:25px;
    font-weight: 400;
}
.photo{
    width:200px;
    height:160px;
    margin:10px;
    object-fit: cover; 
    /* object-fit: cover bikin ngikutin pola jadi rapih */
    border-radius:50%;
}
.smPhoto{
    width:100px;
    height:70px;
    border-radius:50%;
    object-fit: contain;
    margin-top:5px;
    margin-bottom:0;
    margin-right:20px;
}
.imageContainer{
    display:flex;
    flex-direction:row;

}
.rightContainer{
    align-items: flex-end;
}
.no_padding{
    padding:0;
}
.friends_list{
    padding-top: 5px;
}
.accounts-view{
    width:100%;
    border-style: solid;
    border-radius: 5%;
    margin:20px;
    padding-left:10px;
    padding-top:0;
    font-family: Muli;
}

.site-form input[type="submit"]{
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 25px;
    border-radius: 4px;
    margin: 10px;
}