{% extends 'base_layout.html' %}

{% block content %}
    <div class="accounts-view">
        <h1>Log In</h1>
        <form class="site-form" action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}
            {{ form  }}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <input type="submit" value="Log In">
        </form>
        <h5>Don't have an account?</h5>
        <h5>Please sign-up first <button type="submit"><a href="{% url 'accounts:signup' %}">Sign Up</a></button></h5>
        

    </div>

{% endblock %}