{% extends 'base_layout.html' %}

{% block content %}
    <div class="accounts-view">
        <h1>Sign Up</h1>
        <form class="site-form" action="/accounts/signup/" method="POST">
            {% csrf_token %}
            {{ form  }}
            <input type="submit" value="Sign Up">
        </form>
        <h5>Already have an account?</h5>
        <h5>Just login! <button type="submit"><a href="{% url 'accounts:login' %}">Login</a></button></h5>
    </div>
{% endblock %}