{% extends 'base_layout.html' %}


{% block content %}
{% load static from staticfiles %}
        <div class="container">
            <div class="container">
                <h1>Christopher Tamba</h1>
                <h2>I can do all things because of God in me</h2>
                <img class="photo" src="{% static 'portfolio_page/Christo.jpg' %}">
            </div>
            <div class="container leftContainer">
                <div>
                    <h2>Hello,</h2>
                    <h2>Welcome to my website!</h2>
                    <h2>I was born on 11 February 2001</h2>
                    <h2>Having interests in Gadget, Korean Pop Music, and Sports.  </h2>
                    <h2>A reliable person. A night thinker. A trustworthy person. A discipline person. A responsible person.</h2>
                </div>
                <br><br><br>
                <div class="container">
                    <h2>Contact me!</h2>
                    <div class="container imageContainer">
                        <div class="container">
                            <img class="photo smPhoto" src="{% static 'portfolio_page/Line.png' %}"> 
                            <h3>christamba</h3>
                        </div>
                        <div class="container">
                            <img class="photo smPhoto" src="{% static 'portfolio_page/email.png' %}">
                            <h3>christamba11@gmail.com</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}



