{% extends 'base_layout.html' %}

{% block content %}
<div class="create-friends">
    <h2>Let's be a friend!</h2>
    <form class="site-form" action="{% url 'add_friends:create_friends' %}" method="post">
        {% csrf_token %}
        {{ form }} 
        <input type="submit" value="Create">
    </form>
</div>


{% endblock %}