{% extends 'base_layout.html' %}

{% block content %}
<div class="friends_details">
    <div class="friends">
        <p>Nama         : {{ friends.nama }}</p>
        <p>Deskripsi    : {{ friends.deskripsi }}</p>
        <p>TTL          : {{ friends.TTL }}</p>
        <p>Id Line      : {{ friends.idLine }}</p>
    </div>
    <div class="comments">
        <div> 
            <h2>Write Comments here!</h2>
            <form method="POST" action="{% url 'add_friends:create_comment' id=friends.id %}">
                    {% csrf_token %}
                    <div>
                        {% for field in comment_form.visible_fields %}
                            {{ field }}
                        {% endfor %}
                        <button type="submit">Comment</button>
                    </div>
            </form>
        </div>

        <div>
            <h2>Comments:</h2>
            {% for comment in friends.comment.all %}
                <div>
                    <p>{{ comment.comment }} by {{ comment.author.username }}, {{comment.created_at}}</p>
                </div>
            {% endfor %}
        </div>
   
    </div>
</div>
{% endblock %}