{% extends 'base_layout.html' %}

{% block content %}
<h1>Friends List</h1>
    {% for friend in friends %}
        <div class="friends_list">
            <h2><a href="{% url 'add_friends:details' id=friend.id %}">Nama : {{ friend.nama }}</a></h2>
            <p>Tempat, Tanggal Lahir : {{ friend.TTL }}</p>
        </div>
    {% endfor %}
{% endblock %}