{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'portfolio_page/style.css' %}">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="container">
            <ul class="ul">
                <li class="li"><a href="{% url 'portfolio_page:homepage' %}">Home</a></li>
                <li class="li"><a href="{% url 'add_friends:create_friends' %}">Add Friend</a></li>
                <li class="li"><a href="{% url 'add_friends:friends_list' %}">Friends</a></li>
                {% if user.is_authenticated %}
                <li class="li">
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Log Out</button>
                    </form> 
                </li>
                {% else %}
                <li class="li"><a href="{% url 'accounts:login' %}">Login</a></li>
                <li class="li"><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>

        {% block content %}


        {% endblock %}
    </div>


</body>
</html>